<aside>
    <div class="mr-30">
        <form name="myForm" novalidate>
            <div class="cabecera-contenido centrado-vertical elementos-espaciados">
                <div>
                    <img src="img/icono-selectores.png" alt="Icono de selectores deslizantes">
                    <span id="palabra-selectores-izquierda">Filtrar</span>
                </div>
                <a id="palabra-selectores-derecha" href="#">Borrar</a>
            </div>

            <div class="bloque-selectores">
                <p class="cabecera-selectores">
                    <span class="titulo-selectores">Año</span><span class="borde-seleccion"><span class="texto-seleccion">1979 - 2015</span></span>
                </p>
                <img src="img/captura-selectores.PNG" alt="Captura de selectores deslizantes">
                <input type="range" multiple value="10,80" />
            </div>

            <div class="bloque-selectores">
                <p class="cabecera-selectores">
                    <span class="titulo-selectores">Valoración IMDB</span><span class="borde-seleccion"><span class="texto-seleccion">0 - 5</span></span>
                </p>
                <img src="img/captura-selectores.PNG" alt="Captura de selectores deslizantes">

            </div>

            <div class="bloque-selectores">
                <p class="cabecera-selectores">
                    <span class="titulo-selectores">Rotten Tomatoes - CS</span><span class="borde-seleccion"><span class="texto-seleccion">0 - 50</span></span>
                </p>
                <img src="img/captura-selectores.PNG" alt="Captura de selectores deslizantes">

            </div>

            <div class="bloque-selectores">
                <p class="cabecera-selectores">
                    <span class="titulo-selectores">Rotten Tomatoes - AS</span><span class="borde-seleccion"><span class="texto-seleccion">0 - 50</span></span>
                </p>
                <img src="img/captura-selectores.PNG" alt="Captura de selectores deslizantes">

            </div>

            <div class="bloque-selectores">
                <p class="cabecera-selectores">
                    <span class="titulo-selectores">Géneros</span>
                </p>
                <div class="bloque-generos">
                    <button class="btn-generos">Acción</button>
                    <button class="btn-generos">Aventura</button>
                    <button class="btn-generos">Animación</button>
                    <button class="btn-generos">Comedia</button>
                    <button class="btn-generos">Crimen</button>
                    <button class="btn-generos">Documental</button>
                    <button class="btn-generos">Drama</button>
                    <button class="btn-generos">Familiar</button>
                    <button class="btn-generos">Fantasía</button>
                    <button class="btn-generos">Históricas</button>
                    <button class="btn-generos">Horror</button>
                    <button class="btn-generos">Música</button>
                    <button class="btn-generos">Misterio</button>
                    <button class="btn-generos">Romance</button>
                    <button class="btn-generos">Ficción</button>
                    <button class="btn-generos">TV Movies</button>
                    <button class="btn-generos">Thriller</button>
                    <button class="btn-generos">Guerra</button>
                    <button class="btn-generos">Western</button>
                </div>
            </form>

        </div>
    </div>
</aside>