<!-- Modal -->
<div class="modal right fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div ng-show="home.loadingModal" class="loader-container">
                <img src="img/loader.gif" alt="Loader icon"> 
            </div>
            <div ng-show="!home.loadingModal" class="container">
                <div class="row">
                    <div class="overlay-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="negro-claro">{{home.movieSelected.title}}</h3><span class="compi-titulo-pelicula">{{home.movieSelected.year}}</span>
                            </div>
                            <a href="javascript:void(0)" class="closebtn pull-right" data-dismiss="modal" aria-label="Close"><img src="img/closer.png" alt="Icono para cerrar overlay"></a>
                        </div>
                        <hr>
                        <div class="row ficha-pelicula">
                            <div class="col-lg-5">
                                <img class="ficha-pelicula-poster" src="https://image.tmdb.org/t/p/w500{{home.movieSelected.poster_path}}" alt="Póster de la película Interstellar" align="left">
                            </div>
                            <div class="col-lg-7">
                                <div class="elementos-espaciados">
                                    <span class="titulo-dentro-ficha negro-claro pb-10">Sinopsis <span ng-show="home.firebaseUser"><a href="#" ng-click="home.addFav(home.movieSelected.movie)">Añadir a favoritos</a> <a href="#" ng-click="home.toWatch(home.movieSelected.movie)">Ver más tarde</a></span></span>
                                    <span class="compi-titulo-pelicula">{{home.movieSelected.runtime.hours}}h{{home.movieSelected.runtime.minutes}}m</span>
                                </div>
                                <div class="elementos-espaciados">
                                    <span>
                                        <span ng-repeat="genres in home.movieSelected.genres track by $index">
                                            <button class="btn-generos">{{genres}}</button>
                                        </span>
                                    </span>
                                    <div class="pelicula-rating centrado-vertical">
                                        <span><img src="img/icono-favorito.png" alt="Icono de una estrella de favorito">{{home.movieSelected.votes.tmdb}}</span>
                                        <span><img src="img/icono-tomate.png" alt="Icono de un tomate">{{home.movieSelected.votes.rt}}</span>
                                        <span><img src="img/icono-metacritic.png" alt="Icono de metacritic">{{home.movieSelected.votes.mc}}</span>
                                    </div>
                                </div>
                                <p>{{home.movieSelected.description}}</p>

                                <div class="trailer">
                                    <div class="titulo-dentro-ficha negro-claro pb-10">Trailer</div>
                                    <div class="contenedor-video">
                                        <ng-youtube-embed 
                                            class="video"
                                            video="home.movieSelected.video" 
                                            color="white"
                                            disablekb="true">
                                        </ng-youtube-embed>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <p class="subs-disponibles">Subs:
                            <a href="{{home.movieSelected.subtitles.en}}">en</a>
                            <a href="{{home.movieSelected.subtitles.es}}">es</a>
                            <a href="{{home.movieSelected.subtitles.de}}">de</a>
                        </p>
                        <hr>

                        <p class="pb-10">Películas similares</p>
                        <div class="row peliculas-similares">
                            <div class="col-lg-3" ng-repeat="similar in home.movieSelected.similars track by similar.id">
                                <a href="#" ng-click="home.openNav(similar)">
                                    <img src="https://image.tmdb.org/t/p/w342{{similar.poster_path}}" alt="Miniatura de la película">
                                    <p class="titulo-dentro-ficha negro-claro">{{similar.title}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->