<nav class="centrado-vertical">
    <div class="container">
        <div class="row">
            <div class="centrado-vertical">
                <div class="col-lg-2">
                    <img id="logo" src="img/Logo.png" alt="Logo PelisEOI">
                </div>
                <!--TODO: H2 al menú-->
                <ul id="menu-nav" class="col-lg-6">
                    <li><a href="/">Descubrir</a></li>
                    <li><a href="/popular">Populares ahora</a></li>
                    <li><a href="/upcoming">Próximamamente</a></li>
                </ul>

                <div id="buscador" class="col-lg-4">
                    <div class="input-group stylish-input-group">

                        <span class="input-group-addon">
                            <button type="submit">
                                <img src="img/icono-buscar.png" alt="Icono de una lupa">
                            </button>
                        </span>
                        <input type="text" class="form-control negro-claro" ng-model="search" placeholder="Encuentra tú película favorita">

                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>