<nav class="centrado-vertical">
    <div class="container">
        <div class="row">
            <div class="centrado-vertical">
                <div class="col-lg-2">
                    <a href="/" ng-click="home.search.query = ''"><img id="logo" src="img/Logo.png" alt="Logo PelisEOI"></a>
                </div>
<!--TODO: H2 al menú-->
<ul id="menu-nav" class="col-lg-6">
                    <li><a href="/" ng-click="home.search.query = ''">Descubrir</a></li>
                    <li><a href="/popular" ng-click="home.search.query = ''">Populares</a></li>
                    <li><a href="/upcoming" ng-click="home.search.query = ''">Próximamamente</a></li>
                    <li ng-hide="home.firebaseUser"><a href="#" ng-click="home.signIn()" data-toggle="modal" data-target="#modalLog">¡Únete!</a></li>
                    <li ng-show="home.firebaseUser"><a href="/mymovies" ng-click="">Mis pelis</a></li>
                    <li ng-show="home.firebaseUser"><a href="/" ng-click="home.auth.$signOut()">Cerrar sesión</a></li>
                </ul>

                <div id="buscador" class="col-lg-4">
                    <div class="input-group stylish-input-group">

                        <span class="input-group-addon">
                            <button type="submit">
                                <img src="img/icono-buscar.png" alt="Icono de una lupa">
                            </button>
                        </span>
                        <input autocomplete="false" type="text" class="form-control negro-claro" ng-model="home.search.query" ng-change="home.getSearchMovies()" ng-model-options="{debounce : 500}" placeholder="Encuentra tu película favorita">
                        <span class="input-group-addon" ng-if="home.search.query != ''">
                            <a href="#" ng-click="home.search.query = ''" class="glyphicon glyphicon-remove"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Modal Log -->
<div id="modalLog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div id="firebaseui-auth-container"></div>
    </div>
</div>