<!--MODAL-->
<div ng-include="'partials/modal.html'"></div>
<!--NAV-->
<div ng-include="'partials/nav.html'"></div>

<div class="container mt-68" ng-if="home.search.query == ''">
    <main ng-init="home.getMyMovies()">
        <div class="cabecera-contenido centrado-vertical elementos-espaciados">
            <span>
                Tus películas <span class="negrita negro-claro">favoritas</span> ¡Recomiéndaselas a tus amigos!
            </span>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-repeat="movie in home.movies.favs | filter:search track by movie.id">
                <div class="pelicula-poster">
                    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.original_title}}">
                    <a href="#" data-toggle="modal" data-target="#myModal" ng-click="home.openNav(movie)">
                        <div class="pelicula-sombra">
                        </div>
                        <div class="pelicula-rating centrado-vertical">
                            <span><img src="img/icono-favorito.png" alt="Icono de una estrella de favorito">{{movie.vote_average}}</span>
                            <span>VER MÁS</span>
                        </div>
                    </a>
                </div>
            </div>
        </div> 

        <div class="cabecera-contenido centrado-vertical elementos-espaciados">
            <span>
                Tus películas <span class="negrita negro-claro">pendientes</span> ¡Encuentra un hueco para verlas!
            </span>
        </div>
        <div class="row">
            <div class="col-lg-3" ng-repeat="movie in home.movies.towatch | filter:search track by movie.id">
                <div class="pelicula-poster">
                    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="{{movie.original_title}}">
                    <a href="#" data-toggle="modal" data-target="#myModal" ng-click="home.openNav(movie)">
                        <div class="pelicula-sombra">
                        </div>
                        <div class="pelicula-rating centrado-vertical">
                            <span><img src="img/icono-favorito.png" alt="Icono de una estrella de favorito">{{movie.vote_average}}</span>
                            <span>VER MÁS</span>
                        </div>
                    </a>
                </div>
            </div>
        </div> 
    </main>
</div>

<div ng-include="'partials/search.html'" ng-if="home.search.query != ''"></div>
